extends ../layouts/base.layout.pug

include ../partials/top-bar.pug
include ../partials/page-title.pug
include ../partials/csrf.pug
include ../partials/flash-msg.pug

block content
  - var formErrors = flash && flash.data && flash.data[0] && flash.data[0].errors || {};
  +top-bar("profile")
  div(class="container mx-auto p-4")
    div(class="flex items-center mb-4")
      +page-title(class="mr-2") Profile
      if user.slug
        a(href="/u/" + user.slug class="btn btn-plain btn-small") View public profile
    +flash-msg(flash)

    div(class="flex items-start md:flex-row flex-col")
      // - left
      div(class="w-full md:w-2/3 md:mr-4")
        div(class="container mx-auto")
          form(action=`${form.action}` method="POST" id="profile-form")
            +csrf

            div(class="p-4 bg-white rounded-md border border-gray-200 mb-4")
            
              span(class="inline-block uppercase text-xs font-medium text-gray-600 bg-gray-100 p-1 rounded mb-4") Details      
            
              div(class="pb-4")
                div(class="label pb-1 pl-1") Email
                input(class="input w-full" placeholder="Email" name="email" type="email" id="email" rows="4" value=user.email)

              div(class="pb-4")
                label
                  div(class="label pb-1 pl-1") Bio
                  textarea(class="textarea w-full" placeholder="..." name="bio" id="bio" rows="4")= user.bio
                span(class="text-sm text-gray-500") Be brief. Max: 280 symbols.

              div(class="pb-4")
                div(class="label pb-1 pl-1") Personal blog/site url
                input(class={"input w-full": true, "border-red-500": formErrors.website} placeholder="Website" name="website" type="text" id="website" value=(formErrors.website && formErrors.website.val || user.website))
                if formErrors.website
                  p(class="text-xs text-red-500 mt-1")= formErrors.website.msg

            div(class="p-4 bg-white rounded-md border border-gray-200 mb-4")
              
              span(class="inline-block uppercase text-xs font-medium text-gray-600 bg-gray-100 p-1 rounded mb-4") Email settings
              
              div(class="pb-4")
                label(class="flex items-center")
                  input(type="checkbox" class="mr-2 cursor-pointer" name="email_comments" id="email-comments" checked=(user.email_comments ? 'checked' : false))
                  span(class="label cursor-pointer") Comments
                span(class="text-sm text-gray-500") Get notified when someone comments on your posts or replies to your comments

            button(type="submit" class="btn btn-primary") Update
      // - right
      div(class="flex-1 container mx-auto")
        div(class="p-4 bg-white rounded-md border border-gray-200 mb-4")
          span(class="inline-block uppercase text-xs font-medium text-gray-600 mb-2 bg-gray-100 p-1 rounded mb-4") Current plan
          if user.type === USER_TYPES.CREATOR_LITE
            div(class="border border-gray-200 rounded-md overflow-hidden")
              div
                div(class="flex items-center")
                  div(class="flex-1 p-2 border-r")
                    p(class="font-light") Creator Lite
                  div(class="p-2 bg-yellow-50")
                    a(href="/checkout" class="underline hover:no-underline") Upgrade
          else if user.type === USER_TYPES.CREATOR
            div(class="border border-gray-200 rounded-md")
              div
                div(class="flex items-center")
                  div(class="flex-1 p-2 border-r")
                    p(class="font-bold") Creator
                  div(class="p-2")
                    a(class="underline hover:no-underline" href=fsAccountUrl) Manage
                if user.subscription_deactivation_date
                  div(class="text-xs p-2 border-t") Your subscription ends on: #[strong !{user.subscription_deactivation_date}]


            // - div(class="flex items-center justify-between")
            // -   div(class="p-1 px-4 rounded-full bg-yellow-50 mr-2 flex items-center")
            // -     p(class="font-medium bg-yellow-50 rounded-md flex-1") Creator


            // - if user.subscription_deactivation_date
            // -   div(class="text-xs bg-red-50 rounded-md p-1 inline-block mt-4") Your subscription ends on: #[strong !{user.subscription_deactivation_date}]

