<!doctype html>
<html lang="en" id="html">
<head id="head">
    <meta charset="utf-8">
    <title><%= meta.title %></title>
    <meta name="description" content="<%= meta.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (meta.og.title) { %>
        <meta property="og:title" content="<%= meta.og.title %>">
    <% } %>

    <% if (meta.og.description) { %>
        <meta property="og:description" content="<%= meta.og.description %>">
    <% } else { %>
        <meta property="og:description" content="<%= meta.description %>">
    <% } %>

    <% if (meta.og.url) { %>
        <meta property="og:url" content="<%= meta.og.url %>">
    <% } %>

    <% if (meta.og.image) { %>
        <meta property="og:image" content="<%- meta.og.image %>">
    <% } %>

    <% if (meta.twitter && meta.twitter.twitter_card) { %>
        <meta property="twitter:card" content="<%= meta.twitter.twitter_card %>">
    <% } else { %>
        <meta property="twitter:card" content="summary_large_image">
    <% } %>


    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="dark:bg-gray-800" id="body">
    <div class="text-gray-800 dark:text-gray-200" id="root">