extend layouts/base.layout.pug

include partials/top-bar.pug
include partials/page-title.pug
include partials/icon.pug
include partials/product-card-simple.pug
include partials/post.pug
include partials/poll.pug
include partials/login-modal.pug
include partials/comment.pug
include partials/facade-post.pug
include components/user-avatar.pug

mixin user-card(user)
  a(href=`/u/${user.slug}` class="w-full hover:ring-2 rounded-md hover:ring-gray-300 hover:ring-offset-2 transition")
    div(class="flex items-center border-b border-gray-200 hover:border-transparent px-4 py-2")
      div(class="border border-gray-200 rounded-full mr-2")
        +user-avatar({
          src: user.twitter_profile_image_url,
          alt: `Profile photo of ${user.twitter_name}`,
          creator: user.type === USER_TYPES.CREATOR,
          small: true,
          rightMargin: false,
        })
      p(class="text-sm font-medium break-all")= user.twitter_name

mixin browse-posts-list-loading()
  +facade-post
  +facade-post
  +facade-post
  +facade-post
  +facade-post
  +facade-post

block append head
  meta(name="turbo-cache-control" content="no-cache")

block append templates
  template(data-comment-tpl)
    +comment({
      id: -1,
      img: '',
      type: USER_TYPES.CREATOR_LITE,
      slug: '',
      twitter_name: '',
      twitter_screen_name: '',
      created_at: '',
      content: ''
    })

block content
  div(class="absolute top-0 left-0 w-full h-1/4 gradient-bg")
  div(class="relative")
    +top-bar("browse")
    div(class="container-2 p-4 mx-auto")
      div(class="grid grid-cols-8 gap-4")
        aside(class="h-screen top-2 sticky col-span-2 hidden hidden xl:block")
          +page-title(class="mb-4") Quick controls
          div(class="rounded-md border border-gray-200 bg-white")
            if myProducts
              each product in myProducts
                a(href=`/dashboard/product/${product.slug}/posts` class="flex items-center px-3 py-2 text-sm font-medium hover:ring-2 hover:ring-gray-300 hover:ring-offset-2 transition rounded-md")
                  img(src=product.logo_url class="rounded-md border border-gray-200 w-10 h-10 mr-2")
                  span Go to Haptic's dashboard

        //- Left
        main(class="col-span-8 md:col-span-5 xl:col-span-4")
          +page-title(class="mb-4") Latest posts
          
          turbo-frame(id="browse-posts-list" src=`/frame/browse/posts?page=${page}` target="_top")
            +browse-posts-list-loading


        //- right
        aside(class="col-span-8 md:col-span-3 xl:col-span-2")
          div(class="mb-4")
            +page-title(class="mb-4") Recently Updated Products
            div(class="bg-white border border-gray-200 rounded-md")
              each product, idx in recentlyUpdatedProducts
                +product-card-simple({
                  place: idx < 3 ? idx : null,
                  logo_url: product.logo_url,
                  slug: product.slug,
                  name: product.name,
                  boosts_count: product.boosts_count,
                  description: product.description
                })
            div(class="flex items-end justify-end mt-2")
              a(href="/products?ord=boosts" class="btn btn-plain btn-small transition click-scale") View most boosted

          div(class="mb-4")
            +page-title(class="mb-4") Latest products
            div(class="bg-white border border-gray-200 rounded-md")
              each product, idx in newestProducts
                +product-card-simple({
                  logo_url: product.logo_url,
                  slug: product.slug,
                  name: product.name,
                  boosts_count: product.boosts_count,
                  description: product.description
                })
            div(class="flex items-end justify-end mt-2")
              a(href="/products?ord=newest" class="btn btn-plain btn-small transition click-scale") View latest

          div(class="lg:h-screen lg:sticky top-2")
            +page-title(class="mb-3") Recently joined makers
            div(class="bg-white rounded-md border border-gray-200")
              div(class="flex flex-row flex-wrap xl:flex-col")
                each user in newestUsers
                  +user-card(user)

block modals
  if !user
    +login-modal
