extends layouts/base.layout.pug

include partials/top-bar.pug
include partials/page-title.pug
include partials/flash-msg.pug
include partials/csrf.pug
include partials/empty-list-message.pug

mixin notif({ notif })
  div(class="p-4 rounded-md bg-white shadow-sm mt-4" data-notification-id=notif.id)
    div(class="flex items-center mb-2")
      div(class="text-xs text-gray-600 dark:text-gray-400 mr-4")= notif.created_at_formatted
      a(href=`/p/${notif.product_slug}` class="btn btn-small btn-plain" data-tippy-content="Open product page" title="Open product page")= `${notif.product_name}`
    div(class="flex items-center")
      if icon
      if notif.type === 'post_boosts'
        div(class={"w-8 h-8 rounded-full flex items-center justify-center mr-2": true, " bg-gray-100": notif.is_read, "bg-yellow-100": !notif.is_read})
          +icon("chevrons-up", { width: 18, height: 18 })
        p
          | #[span(class="font-bold")= notif.origin_user_twitter_name] boosted your 
          a(href=`/p/${notif.product_slug}/${notif.post_id}` class="font-bold text-yellow-300") post
          |.
      if notif.type === 'product_collections'
        div(class={"w-8 h-8 rounded-full flex items-center justify-center mr-2": true, " bg-gray-100": notif.is_read, "bg-yellow-100": !notif.is_read})
          +icon("bookmark", { width: 18, height: 18 })
        p
          | #[span(class="font-bold")= notif.origin_user_twitter_name] collected your product.
      if notif.type === 'product_boosts'
        div(class={"w-8 h-8 rounded-full flex items-center justify-center mr-2": true, " bg-gray-100": notif.is_read, "bg-yellow-100": !notif.is_read})
          +icon("chevrons-up", { width: 18, height: 18 })
        p
          | #[span(class="font-bold")= notif.origin_user_twitter_name] boosted your product.

block content
  +top-bar("notifications")
  div(class="container p-4 mx-auto")
    div(class="md:w-2/3 mx-auto")
      +page-title(class="mb-4") Notifications
      +flash-msg(flash)

      div(class="mb-8")
        div(class="flex items-center mb-4")
          +page-title(class="bg-gray-200 px-4 py-1 rounded-full mr-4") Unread
          if notifications && notifications.unread && notifications.unread.length
            form(action="/mark-notifications-read" method="POST")
              +csrf
              button(type="submit" class="btn btn-primary btn-small click-scale") Mark as read
        if notifications && notifications.unread && notifications.unread.length
          each notif in notifications.unread
            +notif({notif})
        else
          +empty-list-message
            span No notifications found

      div(class="flex items-center justify-between mb-4")
        +page-title(class="bg-gray-200 px-4 py-1 rounded-full") Read
      if notifications && notifications.read && notifications.read.length
        each notif in notifications.read
          +notif({ notif })
      else
        +empty-list-message
          span No notifications found
        // p(class="text-gray-500") No notifications here
