include ../components/boost-btn.pug

mixin comment({ id, img, type, slug, twitter_name = 'unknown', twitter_screen_name = 'User', created_at, content, boosts_count = 0, boosted = false, trigger_login_modal = false })
  div(class="flex items-start mt-4 border-t border-gray-200 -mx-4 pt-4 px-4 relative")
    img(src=img alt=`${twitter_screen_name} - profile photo` class={"w-10 h-10 rounded-full mr-2": true, "border-4 border-double border-yellow-300": type === USER_TYPES.CREATOR} data-comment-author-img)
    div
      a(href=`/u/${slug}` class="font-bold mb-2 underline hover:no-underline" data-comment-author-link)= twitter_name
      div(class="flex items-center text-xs text-gray-600 dark:text-gray-400 mb-2")
        div(class="flex items-center")
          +icon("twitter", { width: 10, height: 10, stroke:"twitter", fill: "twitter" })(class="mr-1")
          span(class="mr-2" data-comment-author-twitter-screen-name)= `@${twitter_screen_name}`
        span(class="mr-2") &mdash;
        span(class="flex items-center")
          span(class="mr-2")
            +icon("clock", { width: '12', height: '12' })
          span(data-comment-created-at)= created_at
      div(class="comment prose prose-sm prose-yellow" data-comment-content) !{content}
      div(class="absolute top-2 right-4 mt-2")
        +boost-btn({ boosts_count, boosted, boostsLabelAttrs: { 'data-comment-boosts-count': true } })(
          data-disabled=(trigger_login_modal)
          data-comment-id=id
          data-comment-boost
          data-modal-trigger=(trigger_login_modal ? 'login' : undefined)
        )
