include ./modal.pug
include ./csrf.pug

mixin feedbackBtn
  div(class="fixed bottom-4 right-4 text-xs text-gray-500")
    button(class="btn btn-default" data-modal-trigger="feedback") Feedback
  +modal("feedback", {
    style:"min-width: 400px;"
  })
    h2(class="font-medium text-gray-600 dark:text-gray-200 text-xs uppercase") Feedback
    form(data-feedback-form)
      +csrf
      div(class="pt-8")
        div(class="pb-4")
          label
            div(class="label pb-1 pl-1") Email (Optional)
            div(class="text-xs text-gray-500 pl-1 pb-1") In order to get back to you for details, if needed.
            input(
              class="input"
              type="email"
              id="email"
              name="email"
              autocomplete="off"
              data-feedback-email-input
            )
        div(class="pb-4")
          label
            div(class="label pb-1 pl-1") Type
            select(
              class="input"
              id="type"
              name="type"
              data-feedback-type-input
            )
              option(value="idea") Idea
              option(value="bug") Bug
              option(value="other") Other
        div(class="pb-4")
          label
            div(class="label pb-1 pl-1") Message
            textarea(name="text" rows="4" class="textarea w-full" placeholder="..." data-feedback-text-input)
        div(class="hidden mb-4 error-container" data-form-error)
      button(class="btn btn-primary w-full" type="submit" disabled="disabled") Send
