include ./page-title.pug
include ./icon.pug

mixin comment({ img, slug, twitter_name, twitter_screen_name, created_at, content })
  div(class="flex items-start mt-4 p-4 border border-gray-200 rounded-md border-dashed")
    img(src=img class="w-10 h-10 rounded-full mr-2" data-comment-author-img)
    div
      a(href=`/u/${slug}` class="font-bold mb-2 underline hover:no-underline" data-comment-author-link)= twitter_name
      div(class="flex items-center text-xs text-gray-600 dark:text-gray-400 mb-2")
        div(class="flex items-center")
          +icon("twitter", { width: 10, height: 10, stroke:"twitter", fill: "twitter" })(class="mr-1")
          span(class="mr-2" data-comment-author-twitter-screen-name)= `@${twitter_screen_name}`
        span(class="mr-2") &mdash;
        span(class="flex items-center")
          span(class="mr-2")
            +icon("clock", { width: '12', height: '12' })
          span(data-comment-created-at)= created_at
      p(data-comment-content)= content

mixin post({ product_slug, post_id, post_text_md, post_twitter_text, img, img_url, author_id, user_type, user_slug, twitter_name, twitter_screen_name, date_str, show_opts = true, show_view_btn = true, disable_boost_btn = false, boosts_count = 0, trigger_login_modal = false, comments = [] })
  div(class="post p-4 rounded-md bg-white border border-gray-100 shadow-sm mb-4 transition hover:shadow-md" data-post-id=post_id)
    div(class="flex flex-col-reverse sm:flex-row sm:items-center justify-between mb-4")
      div(class="flex items-center mb-4 sm:mb-0")
        img(src=img class={"w-12 h-12 rounded-full mr-2": true, "border-4 border-double border-yellow-300": user_type === USER_TYPES.CREATOR})
        div()
          a(href=`/u/${user_slug}` class="underline hover:no-underline font-bold inline-block")= twitter_name
          div(class="flex items-center text-xs text-gray-600 dark:text-gray-400")
            div(class="flex items-center")
              +icon("twitter", { width: 10, height: 10, stroke:"twitter", fill: "twitter" })(class="mr-1")
              span(class="mr-2")= `@${twitter_screen_name}`
            span(class="mr-2") &mdash;
            span(class="flex items-center")
              span(class="mr-2")
                +icon("clock", { width: '12', height: '12' })
              span= date_str
      div(class="icon-container flex justify-center sm:justify-start mb-4 sm:mb-0 border-b border-gray-200 sm:border-0 -m-4 sm:m-0 px-4 py-3 sm:p-0")
        div(class="relative inline-block ml-2")
          button(data-ctx-menu-trigger=`share_${post_id}` class="btn btn-icon btn-small icon-container rounded-full hover:bg-gray-100 p-2 click-scale-2")
            +icon('share-2', { width: '18', height: '18' })
          div(data-ctx-menu=`share_${post_id}` class="hidden absolute top-8 -right-2 bg-white shadow-xl rounded-md border border-gray-100" style="min-width: 150px;")
            +page-title(class="px-4 py-2 inline-block w-full") Share
            div(class="py-2 pb-4 px-4")
              a(href=`https://twitter.com/share?url=${ROOT_URL}/p/${product_slug}/${post_id}&via=hapticso&hashtags=buildinpublic,onhaptic&text=${post_twitter_text}` class="flex items-center btn btn-twitter text-sm click-scale" onclick="window.open(this.href);return false;")
                  span(class="icon-container mr-2")
                    +icon("twitter", { stroke: "white", width: '18', height: '18' })
                  span(style="white-space: nowrap;") Twitter
        if show_opts
          button(data-modal-trigger="edit-post" data-text=post_text_md data-img=img_url data-post-id=post_id class="btn btn-icon btn-small icon-container rounded-full hover:bg-gray-100 p-2 click-scale-2 inline-block ml-2")
              +icon("edit", { width: 18, height: 18 })
          button(data-post-action-delete data-post-id=post_id class="btn btn-icon btn-small icon-container rounded-full hover:bg-gray-100 p-2 click-scale-2 inline-block ml-2")
              +icon("trash-2", { width: 18, height: 18 })

          //-
            div(class="relative inline-block ml-2 z-10")
              button(data-ctx-menu-trigger=`actions_${post_id}` class="btn btn-icon btn-small icon-container rounded-full hover:bg-gray-100 p-2 click-scale-2" data-tippy-content="Actions")
                +icon('more-horizontal', { width: '18', height: '18' })
              div(data-ctx-menu=`actions_${post_id}` class="hidden absolute top-8 -right-2 bg-white shadow-xl rounded-md border border-gray-100" style="min-width: 150px;")
                +page-title(class="px-4 py-2 inline-block w-full") Actions
                div(class="py-2 pb-4 px-4")
                  button(data-modal-trigger="edit-post" data-text=post_text_md data-img=img_url data-post-id=post_id class="mb-2 flex items-center btn btn-default w-full text-sm click-scale")
                    span(class="icon-container mr-2")
                      +icon("edit", { width: 18, height: 18 })
                    span Edit
                  button(data-ctx-action="delete-post" data-post-id=post_id class="flex items-center btn btn-danger w-full text-sm click-scale")
                    span(class="icon-container mr-2")
                      +icon("trash-2", { stroke: "white", width: '18', height: '18' })
                    span Delete
          //

    div(class="prose prose-yellow my-4")
      div(class={"hidden":!img_url, "border rounded-md p-1.5 bg-white border-gray-300 w-full mb-4": true})
        img(data-image data-zoomable src=img_url class={"hidden": !img_url, "mx-auto cursor-pointer rounded-md": true} style="margin-top: 0; margin-bottom: 0;")
      div(data-content="data-content")
        block

    div(class="flex items-center justify-between")
      div(
        tabindex="0"
        role="button"
        class={
          "shadow-sm product-btn product-btn-small text-xs": true,
          "cursor-pointer click-scale": !disable_boost_btn,
          "cursor-pointer focus:ring-0 text-gray-500 hover:border-gray-200 hover:bg-transparent": disable_boost_btn
        }
        data-post-boost-btn
        data-post-id=post_id
        data-disabled=disable_boost_btn
        data-boosts-count=boosts_count
        data-modal-trigger=(trigger_login_modal ? 'login' : undefined)
      )
        span(class="flex justify-between")
          span(class="flex items-center")
            span(class="icon-container mr-2")
              +icon("chevrons-up", { width: '18', height: '18', stroke: disable_boost_btn ? "muted" : "default" })
            span(class="mr-4")= `Boost`
          span(
            class={
              "px-4 py-1 font-medium text-gray-800 rounded-full text-xs uppercase": true,
              "bg-yellow-300": !disable_boost_btn,
              "bg-gray-200 text-gray-300 dark:bg-gray-600 dark:text-gray-400": disable_boost_btn
            }
            data-post-boost-counter
          )= boosts_count
      div(class="flex items-center")
        button(class="btn btn-icon rounded-full hover:bg-gray-100 p-2 click-scale-2" data-comment-btn data-post-id=post_id data-tippy-content="Post a comment")
          +icon("message-circle", { width: '18', height: '18' })(class="click-scale-2")

        if show_view_btn
          a(href=`/p/${product_slug}/${post_id}` class="icon-container btn btn-icon ml-2 rounded-full hover:bg-gray-100 p-2 click-scale-2" data-post-link data-tippy-content="Open") 
            +icon("eye", { width: '18', height: '18' })(class="click-scale-2")

    div(class="-mx-4 mt-4 px-4 hidden" data-comment-form-container data-post-id=post_id)
      form(
        data-comment-form
        data-post-id=post_id
        data-comment-author-name=user.twitter_name
        data-comment-author-twitter-screen-name=user.twitter_screen_name
        data-comment-author-img=user.twitter_profile_image_url
        data-comment-author-slug=user.slug
        data-post-author-id=author_id
      )
        textarea(class="textarea w-full" data-autoresize="1" rows="1")
        div(class="hidden" data-comment-errors)
        button(type="submit" class="btn btn-small btn-primary") Add comment

    div(data-comments-container data-post-id=post_id)
      each comment in comments
        +comment({
          img: comment.author_twitter_profile_image_url,
          slug: comment.author_slug,
          twitter_name: comment.author_twitter_name,
          twitter_screen_name: comment.author_twitter_screen_name,
          created_at: comment.created_at_formatted,
          content: comment.content
        })

    template(data-comment-tpl)
      +comment({
        img: '',
        slug: '',
        twitter_name: '',
        twitter_screen_name: '',
        created_at: '',
        content: ''
      })