include page-title.pug

mixin product-card({ slug, name, boosts_count, description, place = null })
  a(href=`/p/${slug}` class="block")
    div(class="relative")
      div(
        class={
          "relative bg-white shadow-sm rounded-md hover:shadow-md p-4 transition": true,
          "border border-gray-100": place === null,
          "border-2 border-yellow-300": place === 0,
          "border-2 border-yellow-700": place === 1,
          "border-2 border-gray-500": place === 2,
        }
        style="height: 180px;"
      )
        div(class="flex flex-col h-full")
          div(id="product-heading")
            div(class="flex items-start")
              h1(class="text-xl font-bold pb-4 flex-1 mr-2")= name
              div(class="bg-yellow-300 flex items-center justify-center px-4 py-1 font-medium text-gray-800 rounded-full text-xs uppercase" data-tippy-content=`${boosts_count} ${boosts_count === '1' ? 'person has' : 'people have'} boosted "${name}"`)
                span= boosts_count

          div(id="product-description" class="flex-1 relative overflow-hidden text-gray-500")
            div(class="absolute bottom-0 left-0 h-12 w-full gradient-white-fade")
            if description
              p= description
            else
              p No description