mixin product-header(product, links, activePage)
  div(class="container mx-auto")
    h1(class="md:hidden md:block pr-4 text-2xl font-bold mb-4 text-center")= product.name
    div(class="flex items-center bg-white h-14 px-4 rounded-md border border-gray-200 relative")
      h1(class="hidden md:block pr-4 text-2xl font-bold mr-4")= product.name
      div(class="flex items-center h-full")
        a(href=`${links.posts}` class={"h-full flex items-center px-4 hover:bg-gray-50": true, "border-b-4 border-yellow-300": activePage === 'posts'} data-tippy-content="Notifications")
          +icon('message-square')
        a(href=`${links.settings}` class={"h-full flex items-center px-4 hover:bg-gray-50": true, "border-b-4 border-yellow-300": activePage === 'settings'} data-tippy-content="Product settings")
          +icon('settings')
        a(href=`${links.url}` class="h-full flex items-center px-4 hover:bg-gray-50" data-tippy-content="View product page")
          +icon('eye')
