extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug
include ../../partials/page-title.pug
include ../../partials/modal.pug
include ../../partials/post.pug
include ../../partials/poll.pug
include ../../partials/icon.pug
include ../../partials/require-module.pug
include ../../partials/csrf.pug
include ../../partials/short-update-form.pug
include ../../partials/poll-form.pug
include ../../partials/comment.pug
include ../../partials/pagination-block.pug

block append templates
  template(data-comment-tpl)
    +comment({
      img: '',
      type: USER_TYPES.CREATOR_LITE,
      slug: '',
      twitter_name: '',
      twitter_screen_name: '',
      created_at: '',
      content: ''
    })

  template(data-product-tool-tpl)
    div(class="px-2 py-1 border border-gray-200 rounded-md transition flex items-center justify-between" data-product-tool-id="-1")
      span(class="pr-2" data-text-container)
      +icon("x", { width: 14, height: 14 })(class="cursor-pointer click-scale hover:scale-125 transform" data-product-tools-remove-btn)

mixin post-type-btn({trigger, icon, iconClass, disabled, tooltip, text}, attr = {})
  div(
    tabindex="0"
    role="button"
    data-post-type-trigger=trigger
    data-disabled=disabled
    class={
      "relative flex flex-col items-center px-3 py-2 rounded-md outline-none select-none text-center": true,
      "cursor-pointer bg-transparent hover:bg-gray-100 dark:hover:bg-gray-700 click-scale": !disabled,
      "text-gray-300": disabled
    }
    data-tippy-content= tooltip
  )&attributes(attr)
    span(class="mb-1")
      +icon(icon, { width: '18', height: '18', stroke: disabled ? "disabled" : "default" })(class=iconClass)

    span(class="text-xs text-gray-500")= text
    //- if block
    //-   block
    if disabled
    //- span(class="hidden block absolute -top-2 -right-1 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close=trigger)
    //-   +icon("x", { width: 14, height: 14 })

block append scripts
  +require-module('posts')

block content
  +top-bar
  div(class="container mx-auto px-4")
    +product-header(product, links, 'posts')
    div(class="flex flex-col md:flex-row items-start pt-4")
      div(class="w-full md:w-4/6 md:mr-4 mb-4")
        +page-title(class="mb-4") Publish new
        div(class="bg-white p-2 mb-4 rounded-md border border-gray-200 hover:ring-2 hover:ring-gray-300 hover:ring-offset-2 transition" data-post-types-container)
          div(class="gap-2 flex overflow-y-auto")
            +post-type-btn({ trigger: "short-update-create", icon: "file-text", disabled: false, text: "Quick update" })
            +post-type-btn({ trigger: "poll", icon: "bar-chart-2", iconClass: "transform rotate-90", disabled: false, text: "Poll" })
            +post-type-btn({ trigger: "long-update", icon: "feather", disabled: true, tooltip: "Soon!", text: "Article" })
            +post-type-btn({ trigger: "youtube", icon: "youtube", disabled: true, tooltip: "Soon!", text: "YouTube video" }) 
            +post-type-btn({ trigger: "milestone", icon: "smile", disabled: true, tooltip: "Soon!", text: "Milestone" }) 
            +post-type-btn({ trigger: "roadmap", icon: "map", disabled: true, tooltip: "Soon!", text: "Roadmap" }) 

          div
            +short-update-form({ mode: 'create', isHidden: true, showCancelButton: true })
            +poll-form
      
        div
          +page-title(class="mb-4") Posts
          div(data-no-posts-msg class={"hidden": posts.length, "flex items-center justify-center bg-white p-4 rounded-md border border-gray-100": true} style="min-height: 300px")
            div(class="text-center flex flex-col items-center")
              span(class="mb-2 p-2 w-12 h-12 flex items-center justify-center bg-gray-100 rounded-full")
                +icon("activity", { stroke: "muted" })
              div(class="text-gray-500")
                p(class="mb-2")
                    span No posts available
                div(class="text-xs")
                  p Tip: start simple with a #[button(class="btn btn-small btn-default inline-block" data-post-type-trigger="short-update-create" data-post-type-trigger-no-hide) quick update]
                  p Share what's your next small step.
          div(data-posts-container)
            if posts && posts.length
              each post in posts
                if post.type === 'text'
                  - var post_text = post.text
                  +post({
                    author_id: post.user_id,
                    product_slug: product.slug,
                    product_name: product.name,
                    post_id: post.id,
                    post_text_md: post.text_md,
                    post_twitter_text: post.twitter_text,
                    user_type: post.user_type,
                    user_slug: post.user_slug,
                    img: post.user_twitter_profile_image_url,
                    img_url: post.image_url,
                    twitter_name: post.user_twitter_name,
                    twitter_screen_name: post.user_twitter_screen_name,
                    date_str: post.created_at_formatted,
                    disable_boost_btn: true,
                    boosts_count: post.boosts_count,
                    comments: post.comments
                  }) !{post_text}
                if post.type === 'poll'
                  +poll({
                    user_has_voted: post.user_has_voted,
                    question: post.question,
                    options: post.poll_options,
                    votes: post.poll_votes,
                    author_id: post.user_id,
                    product_slug: product.slug,
                    product_name: product.name,
                    post_id: post.id,
                    post_twitter_text: post.twitter_text,
                    user_type: post.user_type,
                    user_slug: post.user_slug,
                    img: post.user_twitter_profile_image_url,
                    img_url: post.image_url,
                    twitter_name: post.user_twitter_name,
                    twitter_screen_name: post.user_twitter_screen_name,
                    date_str: post.created_at_formatted,
                    disable_boost_btn: true,
                    boosts_count: post.boosts_count,
                    comments: post.comments
                  }) !{post.details}

              +pagination-block({ pagination, createPaginationLink })

      div(class="w-full md:w-2/6 mb-4")
        +page-title(class="mb-4") Product details
        // - div(class="relative p-4 bg-yellow-50 rounded-md mb-4 border border-yellow-300")
        // -   +icon("x", { width: 18, height: 18 })(class="absolute top-0 right-0 m-4 cursor-pointer")
        // -   span(class="font-medium") Tip!
        // -   p Make sure to fill in the most important product details on the side of your product's page. This will help visitors grasp your product in a blink of an eye.
        div(class="p-4 bg-white border border-gray-200 rounded-md")
          span(class="font-medium text-sm mb-4 block") Tools
          div(data-product-tools-root data-product-tools-product-slug=product.slug)
            div(class={"flex flex-wrap gap-2":true, "mb-2": tools.length} data-product-tools-container)
              each tool of tools
                div(class="px-2 py-1 border border-gray-200 rounded-md transition flex items-center justify-between" data-product-tool-id=tool.id)
                  span(class="pr-2")= tool.text
                  +icon("x", { width: 14, height: 14 })(class="cursor-pointer click-scale hover:scale-125 transform" data-product-tools-remove-btn)
            button(class="flex items-center btn bg-white bg-yellow-100 hover:bg-yellow-300 btn-small click-scale" data-product-tools-add-btn) Add new
            form(data-product-tools-form class="hidden relative mt-4 -mx-4 -mb-4 px-4 py-2 bg-transparent border-t border-gray-200")
              +icon("x", { width: 18, height: 18 })(class="absolute top-0 right-0 m-2 cursor-pointer" data-product-tools-close-btn)
              label(class="block label pb-2" for="tools-input")
                span Type and hit enter
              input(class="input mb-2" placeholder="E.g. React" id="tools-input" data-product-tools-input)
              button(type="submit" class="hidden") Submit

block modals
  +modal('edit-post', {}, {
    class: 'mx-auto',
    style: "width: 90%; min-width: 300px; max-width: 570px;"
  })
    div
      +short-update-form({ mode: 'edit', isHidden: false, showCancelButton: true })
