extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug
include ../../partials/page-title.pug
include ../../partials/modal.pug
include ../../partials/post.pug
include ../../partials/icon.pug

mixin post-type-btn({bind, icon, disabled}, attr = {})
  div(
    data-bind=bind
    data-disabled=disabled
    class={
      "relative flex items-center py-2 px-4 rounded-full border border-gray-300 dark:border-gray-700": true,
      "cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700": !disabled,
      "text-gray-300": disabled
    }
  )&attributes(attr)
    span(class="mr-2")
      +icon(icon, { width: '18', height: '18', stroke: disabled ? "disabled" : "default" })
    if block
      block
    if disabled
      span(class="text-xs px-2 py-1 ml-4 bg-yellow-100 dark:bg-gray-700 rounded-full text-gray-500") Soon!
    span(class="hidden block absolute -top-2 -right-1 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close=bind)
      +icon("x", { width: 14, height: 14 })

block content
  +top-bar
  +product-header(product, links, 'posts')
  div(class="container mx-auto px-4 pt-4")
    div(class="flex flex-col md:flex-row items-start")
      div(class="md:w-4/6 md:mr-4 mb-16")
        +page-title(class="mb-4") Publish new
        div(class="bg-white p-4 mb-4 rounded-xl shadow-sm border border-gray-100")
          div(class="gap-2 flex flex-wrap")
            +post-type-btn({ bind: "text", icon: "file-text", disabled: false }) Short update
            +post-type-btn({ bind: "youtube", icon: "youtube", disabled: true }) YouTube
            +post-type-btn({ bind: "survey", icon: "check-circle", disabled: true }) Survey
            +post-type-btn({ bind: "milestone", icon: "smile", disabled: true }) Milestone
            +post-type-btn({ bind: "roadmap", icon: "map", disabled: true }) Roadmap

          div(data-show="text" class="hidden pt-2")
            form
              input(type="file" id="image-upload" data-upload-file class="hidden")
              input(type="hidden" name="uploaded_image" value="" data-uploaded)
              input(type="hidden" name="id" value=product.id)
              label
                textarea(data-autoresize="2" class="textarea w-full" placeholder="Share something great about your product..." data-text)
                p(class="hidden text-red-500" data-error)
              div(class="flex flex-row-reverse items-center justify-between")
                button(type="submit" class="btn btn-primary") Publish
                div(class="flex items-center")
                  button(type="button" class="mr-4 btn btn-default flex items-center" data-upload-image-btn)
                    span(class="mr-2")
                      +icon('image', { width: '18', height: '18' })
                    span Attach image
                  span(data-image-upload-loader class="hidden mr-2")
                    span(class="animate-spin icon-container opacity-75 my-0 block relative")
                      +icon("refresh-cw")
                  span(data-upload-image-preview)

      
        div
          +page-title(class="mb-4") Posts
          div(class={ "hidden": posts.length, "flex items-center text-gray-500 dark:text-gray-500": true } data-no-posts-msg)
            span(class="mr-2 p-2 w-12 h-12 flex items-center justify-center bg-gray-100 rounded-full")
              +icon("activity", { stroke: "muted" })
            p Still no public updates available
          div(data-posts-container)
            if posts && posts.length
              each post in posts
                - var post_text = post.text
                +post({
                  product_slug: product.slug,
                  product_name: product.name,
                  post_id: post.id,
                  img: post.user_twitter_profile_image_url,
                  img_url: post.image_url,
                  twitter_name: post.user_twitter_name,
                  twitter_screen_name: post.user_twitter_screen_name,
                  date_str: post.created_at_formatted,
                  disable_boost_btn: true,
                  boosts_count: post.boosts_count,
                }) !{post_text}

      div(class="md:w-2/6 mb-4")
        +page-title(class="mb-4") Product details
        div(class="relative p-4 bg-yellow-50 rounded-xl mb-4 border border-yellow-300")
          +icon("x", { width: 18, height: 18 })(class="absolute top-0 right-0 m-4 cursor-pointer")
          span(class="font-medium") Tip!
          p Make sure to fill in the most important product details on the side of your product's page. This will help visitors grasp your product in a blink of an eye.
        div(class="p-4 bg-white shadow-sm border border-gray-100 rounded-xl")
          span(class="font-medium text-sm mb-4 block") Tools
          div(data-product-tools-root data-product-tools-product-slug=product.slug)
            div(class="flex flex-wrap gap-2 mb-2" data-product-tools-container)
              each tool of tools
                div(class="px-2 py-1 border border-gray-300 rounded-full flex items-center justify-between" data-product-tool-id=tool.id)
                  span(class="pr-2")= tool.text
                  +icon("x", { width: 14, height: 14 })(class="cursor-pointer" data-product-tools-remove-btn)
            button(class="btn btn-primary rounded-full" data-product-tools-add-btn)
              +icon("plus", { width: 18, height: 18 })
            form(data-product-tools-form class="hidden relative mt-4 -mx-4 -mb-4 p-4 bg-transparent border-t border-gray-100")
              +icon("x", { width: 18, height: 18 })(class="absolute top-0 right-0 m-2 cursor-pointer" data-product-tools-close-btn)
              label(class="label" for="tools-input")
                span Type and hit enter
              input(class="input mb-2" placeholder="E.g. React" id="tools-input" data-product-tools-input)
              button(type="submit" class="hidden") Submit

  template(data-post-tpl)
    +post({
      product_slug: product.slug,
      product_name: product.name,
      post_id: -1,
      img: user.twitter_profile_image_url,
      img_url: null,
      twitter_name: user.twitter_name,
      twitter_screen_name: user.twitter_screen_name,
      date_str: 'Now',
      disable_boost_btn: true,
      boosts_count: 0
    })

  template(data-product-tool-tpl)
    div(class="px-2 py-1 border border-gray-300 rounded-full flex items-center justify-between" data-product-tool-id="-1")
      span(class="pr-2" data-text-container)
      +icon("x", { width: 14, height: 14 })(class="cursor-pointer" data-product-tools-remove-btn)

block append scripts
  script(src="/static/js/posts.js")