extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug
include ../../partials/page-title.pug

mixin post-type-btn({bind, icon, disabled}, attr = {})
  div(
    data-bind=bind
    data-disabled=disabled
    class={
      "relative flex items-center py-1.5 px-2.5 rounded-xl border border-gray-300 dark:border-gray-700": true,
      "cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700": !disabled,
      "text-gray-500": disabled
    }
  )&attributes(attr)
    span(class="icon-container")
    ion-icon(class="mr-2 text-lg" name=icon)
    if block
      block
    if disabled
      span(class="text-xs px-2 py-1 ml-4 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
    span(class="hidden block absolute -top-2 -right-2 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close=bind)
      ion-icon(name="close-outline")

mixin post({ img, twitter_name, twitter_screen_name, date_str })
  div(class="p-4 rounded-xl border border-gray-300 dark:border-gray-700 mb-4")
    div(class="flex items-center justify-between mb-4")
      div(class="flex items-center")
        img(src=img class="w-10 h-10 rounded-full mr-4")
        div(class="flex flex-col")
          span(class="font-bold")= twitter_name
          div(class="flex items-center text-xs text-gray-600 dark:text-gray-400")
            a(class="mr-2" href=`https://twitter.com/${twitter_screen_name}` target="_blank" rel="noreferrer noopener")= `@${twitter_screen_name}`
            span(class="mr-2") &mdash;
            span(class="flex items-center")
              ion-icon(name="time-outline" class="mr-2")
              span= date_str
      div
        button(class="btn btn-icon icon-container inline-block mr-2")
          ion-icon(name="share-social-outline" class="text-xl")
        button(class="btn btn-icon btn-small icon-container inline-block")
          ion-icon(name="ellipsis-horizontal-outline" class="text-xl")
    p(data-content="data-content")
      if block
        block

block content
  +top-bar
  +product-header(product, links, 'posts')
  div(class="container mx-auto px-4 pt-4")
    div
      div(class="grid gap-4 grid-cols-1 md:grid-cols-8")
        div(class="md:col-span-5")
          +page-title(class="mb-4") Publish new
          div(class="gap-1 flex flex-wrap pb-2")
            +post-type-btn({ bind: "text", icon: "document-text-outline", disabled: false }) Text
            +post-type-btn({ bind: "youtube", icon: "play-outline", disabled: true }) YouTube
            +post-type-btn({ bind: "survey", icon: "checkbox-outline", disabled: true }) Survey
            +post-type-btn({ bind: "milestone", icon: "happy-outline", disabled: true }) Milestone
            +post-type-btn({ bind: "roadmap", icon: "map-outline", disabled: true }) Roadmap

          form(id="form-post-text" class="hidden" data-show="text")
            input(type="hidden" name="id" value=product.id)
            label
              textarea(data-autoresize="2" class="textarea w-full" placeholder="Share something great about your product..." name="text" id="text")
              p(class="hidden text-red-500" id="text-error")
            button(type="submit" class="btn btn-primary") Publish

          div(class="pt-16")
            if posts && posts.length
              div(id="posts-container")
                each post in posts
                  +post({
                    img: post.user_twitter_profile_image_url,
                    twitter_name: post.user_twitter_name,
                    twitter_screen_name: post.user_twitter_screen_name,
                    date_str: post.created_at_formatted,
                  })= post.text
            else 
              div(class="flex items-center text-gray-300 dark:text-gray-500" id="no-posts-msg")
                ion-icon(name="pulse-outline" class="text-3xl mr-4")
                p Still no public updates available

        aside(class="hidden md:block md:col-span-3")
          +page-title(class="mb-4") Pinned updates
          div(class="flex items-center text-gray-300 dark:text-gray-500")
            ion-icon(name="attach-outline" class="text-3xl mr-4")
            p No pinned posts

  template(id="post-tpl")
    +post({
      img: user.twitter_profile_image_url,
      twitter_name: user.twitter_name,
      twitter_screen_name: user.twitter_screen_name,
      date_str: 'Now'
    })

block append scripts
  script(src="/static/js/posts.js")