extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug
include ../../partials/flash-msg.pug
include ../../partials/csrf.pug
include ../../partials/modal.pug

mixin predefCoverImg(url, productSlug)
  button(data-predefined-cover-btn data-image-url=(url) data-product-slug=(productSlug) class="w-8 h-8 rounded-full hover:shadow-lg ring-opacity-50 click-scale-2 hover:opacity-80 transition" style=`background-position: center; background-size: cover; background-image: url("${url}")`)&attributes(attributes)

block content
  - var formErrors = flash && flash.data && flash.data[0] && flash.data[0].errors || {};
  - var cover = product.cover_image_url || predefinedCovers[0];
  div(class="mx-2")
    div(class="-mb-24 border border-gray-200 mx-auto rounded-lg" style="max-width: 980px; height: 410px;")
      div(
        class="w-full h-full rounded-lg"
        style=`background-image: url("${cover}"); background-size: cover; background-position: center;`
        data-cover-image-container
      )
        div(class="w-full h-full flex flex-col items-center justify-center")
          form(class="hidden")
            input(type="file" id="cover-image" data-choose-cover-input data-product-slug=product.slug class="hidden")
          div(class=" flex items-center justify-center")
            button(data-choose-cover-btn type="button" class="btn btn-primary shadow-lg hover:shadow-md transition") Choose cover
          div(class="hidden flex items-center justify-center bg-white p-4 border border-gray-100 rounded-md shadow-xl" data-cover-image-picker-container)
            each cover in predefinedCovers
              +predefCoverImg(cover, product.slug)(class="mr-2")
            p(class="mx-6 text-gray-500") &mdash;
            span(data-cover-image-upload-loader class="hidden mr-2")
              span(class="animate-spin icon-container opacity-75 my-0 block relative")
                +icon("refresh-cw", { width: 14, height: 14 })
            button(class="btn btn-default btn-small mr-4" data-cover-image-upload-btn) Upload image
            button(class="border-2 hover:bg-gray-100 p-1.5 rounded-md" data-close-cover-image-picker-btn)
              +icon("x", { width: 16, height: 16})
  div(class="relative container mx-auto px-4")
    +product-header(product, links, 'settings')
    div(class="container mx-auto pt-4")
      +flash-msg(flash)
    form(action=`${form.delete.action}` method="POST" data-delete-product-form class="hidden")
      +csrf
    form(action=`${form.action}` method="POST" id="product-settings-form" data-product-settings-form)
      +csrf
      input(type="hidden" value=product.logo_url name="logo_url" data-uploaded-logo-input)

      div(class="flex items-start md:flex-row flex-col")

        // -- left
        div(class="w-full md:w-2/3 md:mr-4")
          div(class="container mx-auto")
            div(class="p-4 bg-white rounded-md border border-gray-200 mb-4")
              div(class="pb-4")
                label
                  div(class="label pb-1 pl-1") Name
                  input(class="input w-full" name="name" id="product-name" value=product.name)

              div(class="pb-4")
                label
                  div(class="label pb-1 pl-1") Description
                  textarea(class={"textarea w-full": true,  "border-red-500": formErrors.description} placeholder="E.g. Haptic.so helps entrepreneurs build their products in public by setting up their on #BuildInPublic space" name="description" id="product-description")= formErrors.description && formErrors.description.val || product.description
                  span(class="text-sm text-gray-500") Briefly describe your product
                  if formErrors.description
                    p(class="text-xs text-red-500 mt-1")= formErrors.description.msg

              div(class="pb-4")
                label(class="")
                  div(class="label pb-1 pl-1") Logo
                div(class="block px-4 py-2 bg-gray-50 border border-gray-200 rounded-md")
                  input(type="file" id="logo" data-upload-logo-input data-product-slug=product.slug class="hidden")
                  div(class="flex items-center")
                    div(class="mr-4")
                      button(type="button" data-upload-logo-btn class="bg-white border border-dashed border-gray-200 w-16 h-16 rounded-md shadow-lg flex items-center justify-center text-xs click-scale overflow-hidden")
                        span(class={"text-center": true, "hidden": product.logo_url} data-upload-logo-label) Upload
                        span(data-upload-logo-loader class="hidden block")
                          span(class="animate-spin icon-container opacity-75 my-0 block relative")
                            +icon("refresh-cw", { width: 14, height: 14 })
                        if product.logo_url
                          img(src=product.logo_url alt="Product logo" style="width: 100%; height: 100%;")
                    div
                      div(class="flex items-center")
                        span(class="text-xs text-gray-600") Prefer square formats (e.g. #[strong 300x300px])

              div(class="pb-4")
                label
                  div(class="label pb-1 pl-1") Website/URL
                  input(class={"input w-full": true, "border-red-500": formErrors.website} name="website" id="product-website" value=(formErrors.website && formErrors.website.val || product.website)) 
                  if formErrors.website
                    p(class="text-xs text-red-500 mt-1")= formErrors.website.msg


          div(class="container mx-auto")
            div(class="p-4 bg-white rounded-md border-4 border-red-100 mb-4 relative")
              div(class="px-2 py-1 bg-red-300 rounded-full text-xs absolute -top-4 left-4") Danger zone
              div(class="relative rounded-md pt-2")
                button(type="button" class="btn btn-danger click-scale" data-delete-product-btn) Delete product
                span(class="text-gray-500 text-xs pt-1") Cannot be undone!

        // -- right
        div(class="flex-1 container mx-auto")
          div(class="p-4 bg-white rounded-md border border-gray-200 mb-4")
            div
              div(class="pb-8")
                label(class="flex items-center")
                  input(type="checkbox" class="mr-2 cursor-pointer" name="is_public" id="is-public" checked=(product.is_public ? 'checked' : false))
                  span(class="label cursor-pointer") Public
                span(class="text-sm text-gray-500") Uncheck this if you wan't to make your product page completely private (won't be discoverable on Haptic's feeds as well).

              div
                label(class="flex items-center")
                  input(type="checkbox" class="mr-2 cursor-pointer" name="is_listed" id="is-listed" checked=(product.is_listed ? 'checked' : false))
                  span(class="label cursor-pointer") List on Haptic
                span(class="text-sm text-gray-500") Make your product and posts discoverable on Haptic's feeds (#[span(class="label") Public] must be checked, too).

          div(class="p-4 bg-white rounded-md border border-gray-200 mb-4")
            button(type="submit" class="btn btn-primary w-full transition") Save
