extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug

block content
  +top-bar
  +product-header(product, links, 'settings')
  div(class="container mx-auto px-4 pt-4")
    if flash.success.length
      div(class="success-container mb-8")= flash.success[0]
    if flash.error.length
      div(class="error-container mb-8")= flash.error[0]

    form(action=`${form.action}` method="POST" id="product-settings-form")
      div(class="pb-8")
        label
          div(class="label pb-1 pl-1") Name
          input(class="input w-full" name="name" id="product-name" value=product.name)

      div(class="pb-8")
        label
          div(class="label pb-1 pl-1") Description
          textarea(class="textarea w-full" placeholder="E.g. Haptic.so helps entrepreneurs build their products in public by setting up their on #BuildInPublic space" name="description" id="product-description")= product.description
        span(class="text-sm text-gray-500") Briefly describe your product

      div(class="bg-gray-100 dark:bg-gray-700 rounded-xl p-4 mb-8")
        div(class="pb-8")
          label(class="flex items-center")
            input(type="checkbox" class="mr-2" name="is_public" id="is-public" checked=(product.is_public ? 'checked' : false))
            span(class="label") Public
          span(class="text-sm text-gray-500") Turn this off, if you want to hide your product page from the public

        div
          label(class="flex items-center")
            input(type="checkbox" class="mr-2" name="is_listed" id="is-listed" checked=(product.is_listed ? 'checked' : false))
            span(class="label") List on Haptic
          span(class="text-sm text-gray-500") By having this on, you agree that we can list your product on our homepage
      button(type="submit" class="btn btn-primary") Save