include ../partials/toast.pug 
include ../partials/require-module.pug

doctype html
html(lang="en" id="html" class="")
  head(id="head")
    meta(charset="utf-8")
    title= meta.title
    meta(name="description" content= meta.description)
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )

    if meta.og && meta.og.title
      meta(property="og:title" content=`${meta.og.title}`)
    else
      meta(property="og:title" content=`${meta.title}`)

    if meta.og && meta.og.description
      meta(property="og:description" content=`${meta.og.description}`)
    else
      meta(property="og:description" content=`${meta.description}`)

    if meta.og && meta.og.image
      meta(property="og:image" content=`${meta.og.image}`)

    if meta.twitter && meta.twitter.image
      meta(name="twitter:image" content=`${meta.twitter.image}`)

    if meta.twitter && meta.twitter.twitter_card
      meta(name="twitter:card" content=`${meta.twitter.twitter_card}`)
    else
      meta(name="twitter:card" content="summary_large_image")

    if meta.twitter && meta.twitter.image_alt
      meta(name="twitter:image:alt" content=`${meta.twitter.image_alt}`)

    if csrf
      meta(name="csrf" content=csrf)

    link(rel="preconnect" href="https://fonts.gstatic.com")

    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")

    link(rel="icon" href="/static/images/favico/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/static/images/favico/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favico/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favico/favicon-16x16.png")
    link(rel="manifest" href="/static/images/favico/site.webmanifest")
    link(rel="mask-icon" href="/static/images/favico/safari-pinned-tab.svg" color="#5bbad5")

    link(rel="stylesheet" href="/static/css/styles.css")

    block head_scripts
      script(type='text/javascript' async src="https://www.googletagmanager.com/gtag/js?id=G-DD6BBRSV9W")
      script(type='text/javascript').
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DD6BBRSV9W');

      // script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous")
      script(src="https://unpkg.com/@popperjs/core@2")
      script(src="https://unpkg.com/tippy.js@6")
      script(src="https://unpkg.com/axios/dist/axios.min.js")

      script(src="/static/js/bundle.js")

    block head
    body(class={"dark:bg-gray-800": true, "bg-white": isHomepage, "bg-gray-50": !isHomepage} id="body")
    div(class="text-gray-800 dark:text-gray-200" id="root")
      div(class="z-20 border border-gray-100 hidden fixed bottom-0 right-0 m-8 p-4 rounded-md bg-white shadow-2xl text-sm dark:bg-gray-800 dark:border-gray-700" id="cookies-consent")
        p(class="w-60 mb-4").
          By using haptic.so, you agree to it's use of cookies. #[a(href="/cookie-policy" title="Cookie Policy") Learn more].
        
        // You can read more about it <a href="/privacy-policy" class="text-blue-500">here</a>.
        button(class="btn btn-primary w-full" id="cookies-consent-ok-btn").
          OK


      block content

      //- toasts
      div(class="z-30 fixed bottom-0 right-0 overflow-y-auto p-4" data-toasts id="toasts" data-turbo-permanent)
      template(data-toast-tpl)
        +toast
      //- end toasts

      block modals

      block scripts
        +require-module("")
